<!DOCTYPE html>
<html>
<head>
    <title>Role Module</title>
</head>
<body>
<header>
    <h2 style="text-align:center;">Role Module</h2>
</header>
<section>
    <form style="text-align:center" name="userform" action="http://tilist.nodeville.net/role/save" method="post" accept-charset="">
        <section>
        	<div style="font-size:15px"><strong>Save Role</strong></div>      
            <label for="id" style="margin-left:1%" >_id</label>
            <input type="text" name="_id" value="" placeholder="_id"> </br>
            <label for="name">role name</label>
            <input type="text" name="name" style="margin-right:2.1%" placeholder="role name"> </br>
            <label for="unitid" >unit_id</label>
            <input type="text" name="unitid" style="margin-right:0.6%" placeholder="unit id"> </br>  
            <label for="accessid" >access_id</label>
            <input type="text" name="accessid" style="margin-right:2.3%" placeholder="without comma separator"> </br>
            <input type="submit" style="margin-left:3%;background-color:indianred" value="save">
        </section>
    </form>
    <form style="text-align:center" name="userform" action="http://tilist.nodeville.net/role/get" method="post" accept-charset="">
        <section>
            <div style="font-size:15px"><strong>Get Role By Id</strong></div>
            <label for="_id" style="margin-left:17px ">_id</label>
            <input type="text" name="_id" placeholder="enter _id" > </br>
            <input type="submit" style="margin-left:3%;background-color:indianred" value="select">
        </section>
    </form>   
    <form style="text-align:center" name="userform" action="http://tilist.nodeville.net/role/remove" method="post" accept-charset="">
        <section>
            <div style="font-size:15px"><strong>Delete Role By Id</strong></div>
            <label for="_id" style="margin-left:17px ">_id</label>
            <input type="text" name="_id" placeholder="enter _id" > </br>
            <input type="submit" style="margin-left:3%;background-color:indianred" value="delete">
        </section>
    </form>   
</section>
<footer style="text-align:center">
    <h6>Copyright Matsya Infomatics Pvt Ltd.All rights reserved </h6>
</footer>
</body>
</html>
